.block {
    display: inline-block;
    height: 50px;
    width: 50px;
    max-width: 50px;
    border-radius: 50%;
}

#doodle:hover {
    cursor: crosshair;
}

#drawcircle {
    pointer-events: none;
    display: block;
    position: fixed;
    border: 5px dotted;
    border-radius: 50%;
}

body {
    background: steelblue;
}

#doodle {
    border: 1px solid black;
}

#savedImg {
    border: 1px solid black;
}