@font-face {
    font-family: "HEADER";
    src: url(../KGSummerSunshine.ttf);
}

body {
    color: black;
    text-align: center;
    scroll: no;
    overflow: hidden;
}

.home-form {
    width: 85%;
    margin: auto;
}

.full {
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-group {
    width:100%;
}

.btn {
    width: 50%;
    font-weight: bold;
}

#login-header {
    font-family: "HEADER";
    font-size: 3em;
    font-style: italic;
}

#login {
}

.vertical-flex {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
}

#saved-img {
    border: none;
}

.burger {
    position: absolute;
    right: 5%;
    top: 5%;
}

.btn-index {
    margin: 0.75em;
}
