@font-face {
    font-family: "HEADER";
    src: url(../KGSummerSunshine.ttf);
}

body {
    color: black;
    text-align: center;
}

.navbar {
    border-radius: 0px;
}

.navbar .glyphicon {
    padding-right:0.5em;
}

.form-horizontal .glyphicon {
    padding-right: 0.5em;
}

.home-form {
    width: 85%;
    margin: auto;
}

.full {
    background-size: cover;
    background-color: lightgray;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-group {
    width:100%;
}

.btn {
    width: 50%;
}

#login-header {
    font-family: "HEADER";
    font-size: 3em;
    font-style: italic;
}

#login {
}