<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/de402fa64d.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Home | Kakukaku!!</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
	<div class="col-sm-8">
	  <h1>Welcome to Kakukaku!</h1>
	</div>
	<div class="col-sm-4">
	  <h2 style="display: inline"><a class="glyphicon" href="/notifs"><i class="fa fa-bell" aria-hidden="true"></i></a></h1>
	  <h2 style="display: inline"><a class="glyphicon" href="/profile"><i class="fa fa-user" aria-hidden="true"></i></a></h1>
	</div>
      </div>
      <div class="row">	
	<div class="col-md-6">
	  <h2><a class="btn btn-default" href="/draw">Draw something</a></h2>
	  <h2><a class="btn btn-default" href="/judge">Judge a game</a></h2>
	</div>
	<div class="col-md-6">
	  <h2><a class="btn btn-default" href="/gallery">View all your matches</a></h2>
	</div>
      </div>
  </body>
</html>
