<html>
  <head>
    <title>Judging</title>
    <script src="../static/js/judge.js"></script>
    <link href="../static/css/judgy.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    <div class="container-fluid">
      <br/>
      <h1>The word was:<span id="word">{{matchdata['word']}}</span></h1>

      <div class="d-flex flex-row justify-content-center">
	<div class="p-2 judgable">
	  <h2>Image by {{matchdata['user_1']}}</h2>
	  <img id="img-1" alt="" src="{{matchdata['img_1']}}"/>
	</div>
	<div class="p-2 judgable">
	  <h2>Image by {{matchdata['user_2']}}</h2>
	  <img id="img-2"  src="{{matchdata['img_2']}}"/>
	</div>
      </div>

	<form action="/judge" method="POST">
	  <input id="winner" name="winner" type="hidden" value="-1"/>
	  <input class="btn" name="submit" type="submit" value="Pick Winner"/>
	</form>
  </body>
  
</html>
